// const
$white: #fff;
$main-green: #41b883;
$sidebar-width: 255px;

// fontfamily
@font-face {
  font-family: 'dosismedium';
  src: url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
       url('../fonts/dosis-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dosislight';
  src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
       url('../fonts/dosis-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// top-nav
.top-nav-bar {
  background-color: $main-green;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  height: 63px;
  font-family: 'dosismedium', Arial, sans-serif;
  .nav-item {
    color: $white;
    font-size: 25px;
    vertical-align: middle;
    .nav-link{
      padding: 13px 25px;
    }
    .navbar-toggler {
      border: 0;
      color: $white;
      padding: 20px 20px;
    }
  }
}

// sidebar-nav
.sidebar-nav {
  min-height: calc(100vh - 63px);
  background: $white;
  padding: 0;
  width: $sidebar-width;
  z-index: 22;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  .sidebar-title {
    padding: 16px 35px;
  }
  h1, h2, h3, h4 {
    font-family: 'dosismedium', Arial, sans-serif;
    word-spacing: 2px;
    color: #425569;
  }
  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: 'dosismedium', Arial, sans-serif;
    .nav-item{
      .nav-link {
        align-items: center;
        display: flex;
        padding: 16px 35px;
        white-space: nowrap;
        height: 52px;
      }
    }
    .active {
      color: $main-green;
    }
  }
}

// content-body
.page-body-wrapper {
  padding-top: 63px;
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  
  .main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 255px);
    min-height: calc(100vh - 63px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    
    .content-wrapper {
      background: #f2f8f9;
      padding: 1.5rem 1.7rem;
      width: 100%;
      -webkit-flex-grow: 1;
      flex-grow: 1;

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: $white;
        background-clip: border-box;
        border: 0;
        border-radius: 2px;
        
        .card-body {
          padding: 1.88rem 1.81rem;

          .section-question, .section-answer {
            font-size: 18px;
          }
        }
      }
    }
  }
}

// responsive
@media screen and (max-width: 991px) {
  .sidebar-navcanvas {
    position: fixed;
    max-height: calc(100vh - 63px);
    top: 63px;
    bottom: 0;
    overflow: auto;
    right: -$sidebar-width;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    &.active {
      right: 0;
    }
  }

  .main-panel {
    margin-left: 0;
    width: 100% !important;
  }
}

// short hand
body {
  font-family: 'dosismedium', Arial, sans-serif;
  color: #425569;
}

.grid-margin {
  margin-bottom: 25px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1099;
}

a {
  color: #425569;
  text-decoration: none;
}

a:hover {
  color: #425569;
  text-decoration: none;
  font-weight: bold;
}
